.link-item {
  text-decoration: none;
}

.job-item {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  padding: 1rem;
  border-radius: 25px;
  margin-bottom: 25px;
  margin-top: 10px;
}
.logo-title-location-container {
  display: flex;
  flex-direction: column;
}
.logo-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.company-logo {
  height: 3rempx;
  width: 5rem;
  margin: 20px;
}
.title-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0px;
}
.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0px;
}
.rating-icon {
  color: #fbbf24;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Roboto';
}
.rating-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: bold;
}
.location-package-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.location-employee-container {
  display: flex;
  flex-direction: row;
}
.location-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  padding-left: 5px;
}
.location-icon {
  color: #ffffff;
  font-size: 1rem;
  margin-right: 6px;
}
.brief-case-icon {
  color: #ffffff;
  font-size: 1rem;
  margin-right: 10px;
}
.location-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 1rem;
}
.package-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}
.employee-type-container {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.employee-type-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}
.line {
  color: #7e858e;
  width: 100%;
}
.description-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0px;
}
.description-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 0.6rem;
  line-height: 1.8;
}
